body{margin:20px 0; background-image:url('../images/background1.jpg');}

#instructions {font: 16px 'AmericanTypewriter', Cambria, Georgia; color: #282625; margin: 0 auto; width: 780px;line-height: 1.9; text-align:justify}

.paper {
padding: 36px 45px 27px;
position: relative;
border: 1px solid #B5B5B5;
background: white;
background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
-webkit-background-size: 100% 30px;
-moz-background-size: 100% 30px;
-ms-background-size: 100% 30px;
background-size: 100% 30px;
}
.paper::before {content:""; z-index:-1; margin:0 1px; width:862px; height:10px; position:absolute; bottom:-3px; left:0; background:white; border:1px solid #B5B5B5;}
.paper::after {content:''; position:absolute; width:1px; top:0; left:39px; bottom:0; border-left:1px solid #F8D3D3;}